# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/

# IDEs
.vscode/
.idea/
*.iml
.env

# User-gen
metadata.csv

# ENV
.env

# Auto-gen
.cargo-ok

# Build artifacts
*.wasm
hash.txt
contracts.txt
artifacts/

contracts/*/.cargo
packages/*/.cargo

# code coverage
tarpaulin-report.*

static/bg2.jpg

temp
node_modules
build
.svelte-kit